<!DOCTYPE HTML>
<html ng-app="chatroom">

<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">

</head>

<body ng-controller="mainCtrl">
  <div class="main-container">
    <div class="banner">
      <h1> DEVMOUNTAIN <br> CHAT ROOM </h1>
    </div>
    <div class="post">
      <form ng-submit="postMessage(message)">
        <input class="form-control text-box" type="text" ng-model="message" placeholder="SAY SOMETHING IN CHAT">
        <br>
      </form>
      SEARCH CHAT:&nbsp;&nbsp;<input type="text" ng-model="filterText" />
    </div>
    <br>
    <div class="card" ng-repeat="message in messages | filter: filterText | orderBy: '-createdAt'">
      <p>{{ message.message }}</p>
      <hr>
      <p> &nbsp;&nbsp; {{ message.createdAt | date : "short" }}</p>
    </div>
  </div>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/mainCtrl.js"></script>
  <script src="js/messageService.js"></script>

</body>
</html>
